<app-header />

<!-- Sección para registro -->
<section class="bg-[url('assets/images/foto1.png')] bg-cover bg-center py-12">
  <div
    class="w-[516px] h-[338px] flex-col justify-start items-start gap-[39px] inline-flex ml-20"
  >
    <div
      class="self-stretch h-[122px] flex-col justify-start items-start gap-[42px] flex"
    >
      <div
        class="w-[533px] h-[133px] text-black text-[56px] font-bold font-['Lato'] leading-[67.20px]"
      >
        Transforma tu futuro profesional
      </div>
    </div>
    <div
      class="w-[314px] h-24 text-[#282727] text-[40px] font-bold font-['Lato'] leading-[48px]"
    >
      Programar nunca fue tan fácil
    </div>
    <div class="w-[194px] h-[42px] justify-start items-start inline-flex">
      <div
        class="px-6 py-3 bg-[#0a2750] rounded-lg justify-center items-center gap-2 flex"
      >
        <button
          class="text-neutral-50 text-base font-normal font-['Lato'] leading-tight"
        >
          Crea tu cuenta gratis
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Sección para buscar cursos -->
<section class="py-12">
  <div class="container mx-auto text-center">
    <h2
      class="w-[1500px] text-center text-black text-5xl mb-10 font-bold font-['Lato'] leading-[57.60px]"
    >
      Aprende a codificar desde cero con nuestros cursos gratuitos
    </h2>

    <div
      class="w-[632px] h-[45px] flex-col mb-10 justify-start items-start gap-[5px] inline-flex"
    >
      <div
        class="self-stretch px-2 py-3.5 bg-[#dae8fa] rounded-lg border-l-4 border-[#11448a] justify-between items-center inline-flex"
      >
        <input
          placeholder="Busca tu próximo curso"
          class="text-black font-['Lato'] leading-[16.80px] bg-transparent w-full"
        />
        <button
          class="w-4 h-4 rounded-lg justify-center items-center flex bg-[#11448a]"
        ></button>
      </div>
    </div>

    <!-- Sección de cursos disponibles -->
    <section
      class="text-center h-[150px] flex font-['Lato'] justify-center items-center flex gap-20"
    >
      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="assets/images/php.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">
          PHP y Bases de datos
        </p>
      </div>

      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="../../../assets/images/html.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">Diseño web</p>
      </div>

      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="../../../assets/images/java.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">Java</p>
      </div>

      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="../../../assets/images/python.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">Phyton</p>
      </div>

      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="../assets/images/javascript.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">Javascript</p>
      </div>

      <div class="text-[#282727] text-[15px] font-bold leading-[18px]">
        <img
          src="../../../assets/images/c.png"
          alt="foto"
          class="w-[100px] h-[100px] mb-5 rounded-lg"
        />
        <p class="w-25 text-center justify-center items-center">C++</p>
      </div>
    </section>

    <section>
      <h2
        class="w-[1288px] h-12 text-black text-[40px] font-bold font-['Lato'] leading-[48px] mt-10 mb-10"
      >
        Explora nuestros cursos y encuentra tu pasión
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <img
            src="assets/web-design.png"
            alt="Curso de Diseño Web"
            class="w-24 mx-auto mb-4"
          />
          <h3 class="text-primary-900 text-xl font-semibold mb-2">
            Curso de Diseño Web
          </h3>
          <p class="text-neutrals-600">Gratuito y con certificación</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <img
            src="assets/database.png"
            alt="Introducción a base de datos"
            class="w-24 mx-auto mb-4"
          />
          <h3 class="text-primary-900 text-xl font-semibold mb-2">
            Introducción a base de datos
          </h3>
          <p class="text-neutrals-600">Gratuito y con certificación</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <img
            src="assets/python-course.png"
            alt="Curso de Python"
            class="w-24 mx-auto mb-4"
          />
          <h3 class="text-primary-900 text-xl font-semibold mb-2">
            Curso de Python
          </h3>
          <p class="text-neutrals-600">Gratuito y con certificación</p>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- Sección de aprende -->
<section class="bg-[url('assets/images/foto2.png')] bg-cover bg-center py-12">
  <div
    class="w-[549px] h-72 flex-col justify-start gap-[38px] inline-flex "
  >
    <div
      class="self-stretch h-[115px] text-[#0a0a0b] text-5xl font-bold font-['Lato'] leading-[57.60px]"
    >
      Aprende a tu ritmo de forma práctica
    </div>
    <div
      class="w-[551px] h-[135px] text-[#282727] text-[28px] font-normal font-['Lato'] leading-[33.60px]"
    >
      Clases dinámicas, actividades al final de cada módulo y proyectos que te
      ayudarán a enfrentar desafíos reales y a prepararte para el futuro
    </div>
  </div>
</section>

<!-- Sección de testimonios -->
<section class="bg-neutrals-100 py-12">
  <div class="container mx-auto text-center">
    <h1 class="text-3xl mb-8">
      Tu puerta de entrada al mundo de la programación
    </h1>

    <h2 class="text-3xl mb-8">Lo que nuestros estudiantes dicen</h2>

    <h3 class="text-xl mb-8">
      Cientos de historias de éxito en el mundo digital
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <p class="text-neutrals-700 mb-4">
          “Este curso cambió mi vida. Nunca pensé que podría aprender a
          programar.”
        </p>
        <p class="text-primary-700 font-semibold">- Lorena</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <p class="text-neutrals-700 mb-4">
          “La metodología de enseñanza es genial, y me siento preparado para
          enfrentar nuevos desafíos.”
        </p>
        <p class="text-primary-700 font-semibold">- Marco</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <p class="text-neutrals-700 mb-4">
          “Me encanta cómo están estructurados los cursos. Aprendí a mi ritmo y
          pude aplicar lo que he aprendido.”
        </p>
        <p class="text-primary-700 font-semibold">- Cecilia</p>
      </div>
    </div>
  </div>
</section>

<!-- Sección de registro -->
<section class="bg-[url('assets/images/foto3.png')] bg-cover bg-center py-12">
  <div class="container mx-auto text-left">
    <h2 class="text-3xl mb-6 md:w-1/3 mb-10">
      ¡Empieza Hoy! Tu futuro en programación te espera
    </h2>
    <button class="bg-secondary-1000 text-white py-3 px-8 rounded-lg">
      Crea tu cuenta gratis
    </button>
  </div>
</section>

<app-footer />
