<main class="bg-gray-200 h-fit flex flex-row">
  <app-panel-de-control class="mr-[6%] max-w-[15%] relative" />

  <div class="w-[75%] h-fit my-[2%] pb-[2%] z-100">
    <!-- seccion de inicio -->
    <app-header-greeting [usuario]="usuario"></app-header-greeting>

    <h2 class="bg-gray-200 text-center text-blue-800 underline mt-[25px]" [routerLink]="['/cursos']">
      <b>Todos los cursos</b>
    </h2>
    <app-course-navbar />
    <div class="mt-[5%]">
      <div class="flex flex-row place-content-between">
        <h2 class="text-blue-800 mb-[2%]"><b>Cursos en progreso</b></h2>
        <a href="" class="text-[#557FA5] underline">Ver todos</a>
      </div>
      <!-- Verifica si hay cursos suscritos -->
      <ng-container *ngIf="cursosSuscritos.length > 0; else noCourses">
        <app-curso-tarjeta-movible [cursos]="cursosSuscritos" [mostrarProgreso]="true"></app-curso-tarjeta-movible>
      </ng-container>
      <!-- Mensaje cuando no hay cursos suscritos -->
      <ng-template #noCourses>
        <p class="text-center text-red-600">No tienes cursos en progreso.</p>
      </ng-template>

    </div>

    <div class="mt-[5%]">
      <div class="flex flex-row place-content-between">
        <h2 class="text-blue-800 mb-[2%]"><b>Cursos en demanda</b></h2>
        <a href="" class="text-[#557FA5] underline">Ver todos</a>
      </div>

      <app-curso-tarjeta-movible [cursos]="cursos.slice(0,10)" [mostrarProgreso]="false"></app-curso-tarjeta-movible>
    </div>
  </div>
</main>