<footer class="w-[100%] h-[300px] relative overflow-x-hidden">
  <div class="w-[100%] h-[300px] left-0 top-0 bg-[#e6edf2]">
    <div
      class="pl-[43.19px] pr-[46.79px] pt-[26.92px] pb-[17.73px] left-[121px] top-[147px] absolute justify-center items-center inline-flex"
    >
      <a href="/">
        <img src="/assets/images/logo.png" alt="Logo" class="w-32" />
      </a>
    </div>
    <div
      class="left-[900px] top-[260px] absolute text-[#282727] text-[15px] font-semibold font-['Lato'] leading-[28.80px]"
    >
      © 2024 DevAcademy. Todos los derechos reservados.
    </div>

    <!-- Redes sociales (enlaces vacíos) -->
    <div class="flex flex-col items-start">
      <div
        class="ml-[1100px] mt-40 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Síguenos en redes:
      </div>
      <div class="flex items-center gap-3 ml-[1090px]">
        <a href="#" class="w-12 h-12 justify-center items-center flex">
          <img src="/assets/images/facebook.png" alt="FB" />
        </a>
        <a href="#" class="w-12 h-12 justify-center items-center flex">
          <img src="/assets/images/instagram.png" alt="IG" />
        </a>
        <a href="#" class="w-12 h-12 justify-center items-center flex">
          <img src="/assets/images/youtube.png" alt="YTB" />
        </a>
      </div>
    </div>

    <!-- Enlaces a "Sobre DevAcademy" y "Contacto" -->
    <div
      class="h-[76px] left-[164px] top-[49px] absolute flex-col justify-start items-start gap-5 inline-flex"
    >
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Sobre DevAcademy
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Contacto
      </a>
    </div>

    <!-- Enlaces de Soporte y otras secciones -->
    <div
      class="w-[253px] h-[227px] left-[650px] top-[44px] absolute flex-col justify-start items-start gap-[21px] inline-flex"
    >
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Soporte
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Preguntas frecuentes
      </a>
      <a
        href="#"
        class="self-stretch h-[26px] text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Política de privacidad
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Condiciones
      </a>
      <a
        href="#"
        class="self-stretch h-[33px] text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Accesibilidad
      </a>
    </div>
  </div>
</footer>
