<footer class="w-[100%] h-[334px] relative">
  <div class="w-[100%] h-[334px] left-0 top-0 bg-[#e6edf2]">
    <div
      class="pl-[43.19px] pr-[46.79px] pt-[26.92px] pb-[17.73px] left-[121px] top-[147px] absolute justify-center items-center inline-flex"
    >
      <a href="/">
        <img
          src="../../../assets/images/logo.png"
          alt="Logo"
          class="w-32"
        />
      </a>
    </div>
    <div
      class="left-[1080px] top-[264px] absolute text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
    >
      © 2024 DevAcademy. Todos los derechos reservados.
    </div>
    <div
      class="w-[199px] h-8 left-[1350px] top-[142px] absolute text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
    >
      Síguenos en redes:
    </div>

    <!-- Redes sociales (enlaces vacíos) -->
    <div
      class="left-[1335px] top-[188px] absolute justify-start items-center gap-2.5 inline-flex"
    >
      <a href="#" class="w-12 h-12 justify-center items-center flex">
        <img src="../../../assets/images/facebook.png" alt="facebook" />
      </a>
      <a href="#" class="w-12 h-12 justify-center items-center flex">
        <img src="../../../assets/images/instagram.png" alt="instagram" />
      </a>
      <a href="#" class="w-12 h-12 justify-center items-center flex">
        <img src="../../../assets/images/youtube.png" alt="youtube" />
      </a>
    </div>

    <!-- Enlaces a "Sobre DevAcademy" y "Contacto" -->
    <div
      class="h-[76px] left-[164px] top-[49px] absolute flex-col justify-start items-start gap-5 inline-flex"
    >
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Sobre DevAcademy
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Contacto
      </a>
    </div>

    <!-- Enlaces de Soporte y otras secciones -->
    <div
      class="w-[253px] h-[227px] left-[765px] top-[44px] absolute flex-col justify-start items-start gap-[21px] inline-flex"
    >
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Soporte
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Preguntas frecuentes
      </a>
      <a
        href="#"
        class="self-stretch h-[26px] text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Política de privacidad
      </a>
      <a
        href="#"
        class="self-stretch h-7 text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Condiciones
      </a>
      <a
        href="#"
        class="self-stretch h-[33px] text-[#282727] text-[18px] font-semibold font-['Lato'] leading-[28.80px]"
      >
        Accesibilidad
      </a>
    </div>
  </div>
</footer>
