<header
  class="w-full h-auto px-6 py-3 bg-[#e6edf2] flex-col justify-start items-start gap-2.5 inline-flex relative overflow-x-hidden"
>
  <div class="w-full flex justify-between items-center">
    <!-- Logo -->
    <a href="/">
      <img
        class="w-[179px] h-[87px] cursor-pointer"
        src="/assets/images/logo.png"
        alt="Logo"
      />
    </a>

    <!-- Barra de búsqueda y botones -->
    <div class="flex justify-end items-center gap-4">
      <!-- Barra de búsqueda, oculta en pantallas pequeñas -->
      <div
        class="hidden md:flex w-[378px] flex-col justify-start items-start gap-1"
      >
        <div
          class="self-stretch px-2 py-3.5 bg-[#dae8fa] rounded-lg border-l-4 border-[#11448a] flex justify-between items-center"
        >
          <input
            class="text-sm font-normal font-['Lato'] leading-[16.80px] bg-transparent w-[19.5vw]"
            placeholder="Busca tu próximo curso"
          />
          <button class="w-4 h-4 flex justify-center items-center">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <!-- Botones de Registrarse e Iniciar sesión -->
      <div class="flex gap-4">
        <!-- Botón de Registrarse -->
        <div class="w-auto">
          <div
            class="h-[42px] px-6 bg-[#0a2750] rounded-lg flex justify-center items-center"
          >
            <a
              href="/register"
              class="text-neutral-50 text-base font-normal font-['Lato'] leading-tight"
            >
              Registrarse
            </a>
          </div>
        </div>

        <!-- Botón de Iniciar sesión -->
        <div class="w-auto">
          <div
            class="h-[42px] px-6 bg-[#557fa5] rounded-lg flex justify-center items-center"
          >
            <a
              href="/login"
              class="text-neutral-50 text-base font-normal font-['Lato'] leading-tight"
            >
              Iniciar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
