<!-- Landing Page -->

<header class="bg-gray-800 text-white">
    <nav class="max-w-7xl mx-auto p-6 flex justify-between items-center">
      <!-- Logo -->
      <div class="text-2xl font-bold">
        <a href="/">DevAcademy</a>
      </div>
  
      <!-- Navbar Links -->
      <div>
        <ul class="flex space-x-6">
          <li><a href="#" class="hover:text-gray-400">Inicio</a></li>
          <li><a [routerLink]="['/courses']" class="hover:text-gray-400">Recursos</a></li>
          <li><a href="#" class="hover:text-gray-400">Tutoriales</a></li>
          <li><a href="#" class="hover:text-gray-400">Blog</a></li>
          <li><a href="#" class="hover:text-gray-400">Contacto</a></li>
        </ul>
      </div>
  
      <!-- Botón de Login/Register -->
      <div>
        <a
          href="/login"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-2 rounded"
        >
          Iniciar Sesión
        </a>
        <a
          href="/register"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Registrarse
        </a>
      </div>
    </nav>
  </header>
