<app-header class="relative z-20"/>
<main class="bg-gray-100 h-screen">
    <div class="absolute mt-4">
        <img class="-left-80 -top-6 fixed z-0 h-100 rotate-180" src="/assets/images/background-image.png" alt="">
    <div id="form-block" class="  relative z-10">
        <div class="w-8/12 z-10">
            <img class="w-101 my-32 object-cover opacity-80" src="/assets/images/hombrecito.png" alt="">
        </div>
        <form class="mt-10 flex flex-col" [formGroup]="loginForm" (submit)="onSubmit()">
            <h2 class="mb-8 text-lg place-items-end"><b>Tu próximo desafío te espera.
                Inicia sesión y sigamos construyendo tu futuro en tech.</b></h2>
            <div class="pr-4">
                <label for="email" class="text-xs"><b>Correo electrónico</b></label>
                <input class="border border-blue-600 w-full rounded h-8 pl-2" type="email" id="email" formControlName="email" placeholder="juan.perez@mail.com"/>
            </div>
            <div class="my-8 pr-4">
                <label for="password" class="text-xs"><b>Contraseña</b></label>
                <input class="border border-blue-600 w-full rounded h-8 pl-2" type="password" id="password" formControlName="password" placeholder="xxxxxxxx"/>
                <a href="/validacion" class="text-xs underline">Olvidé mi contraseña</a>
            </div>
            <div *ngIf="loading" class="spinner-container">
                <app-progress-spinner-overview></app-progress-spinner-overview> <!-- Mostrar el spinner -->
              </div>
            <div class="pr-4">
                <button class="bg-blue-900 w-full rounded h-8 text-white hover:opacity-75" type="submit">Iniciar sesión</button>
            </div>
        </form>
    </div>
    </div>
</main>

<app-footer/>
