@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



h2, label, p, a, button {
    font-family: "Lato", sans-serif;
}
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegúrate de que esté por encima de todo */
  }
   .snackbar {
    background-color: #2196F3 !important ; /* Azul de Material Design */
    color: white !important ; /* Texto blanco */
  }



  
  