<div class="flex overflow-x-auto space-x-4 py-4 px-2">
  <div *ngFor="let curso of cursos | slice:0:10" class="curso-tarjeta flex flex-col h-full">
    <div class="flex-grow">
      <div class="flex justify-between items-center">
        <p class="text-xs">Comienzo <b>{{ curso.createdAt | date: 'MMM d, y' }}</b></p>
      </div>
      <h3 class="my-4 text-[#11448a] font-bold">{{ curso.nombre }}</h3>
      <p class="text-xs">{{ curso.descripcion | slice:0:250 }}{{ curso.descripcion.length > 250 ? '...' : '' }}</p>
    </div>
    
    <!-- Mostrar nombre del docente -->
    <p class="text-xs text-gray-600 mt-4">Docente: {{ curso.docenteId?.nombre }}</p>

    <!-- Contenedor de botones alineados horizontalmente en la parte inferior -->
    <div class="botones-container mt-4">
      <button class="btn-inscribirse" (click)="suscribir(curso._id!)">Inscribirse</button>
      <button *ngIf="curso._id" class="btn-ver-mas" [routerLink]="['/curso', curso._id]">Ver más</button>
    </div>
  </div>
</div>
