<div class="flex overflow-x-auto space-x-4 py-4 px-2 font-['Lato']">
  <div *ngFor="let curso of cursos" class="curso-tarjeta flex flex-col h-full">
    <div class="flex-grow">
      <div class="flex justify-between items-center">
        <p class="text-xs">
          Comienzo <b>{{ curso.createdAt | date : "MMM d, y" }}</b>
        </p>
      </div>
      <h3 class="my-4 text-[#11448a] font-bold">{{ curso.nombre }}</h3>
      <p class="text-xs">
        {{ curso.descripcion | slice : 0 : 200
        }}{{ curso.descripcion.length > 200 ? "..." : "" }}
      </p>
    </div>

    <!-- Mostrar nombre del docente -->
    <p class="text-xs text-gray-600 mt-4" *ngIf="curso?.docenteId?.nombre">
      Docente: {{ curso.docenteId?.nombre }}
    </p>

    <!-- Condicional para mostrar la barra de progreso -->
    <div
      *ngIf="curso?.progreso !== null && curso?.progreso !== undefined"
      class="w-full mt-2"
    >
      <div
        class="relative h-2 w-full bg-gray-200 rounded-full shadow-inner overflow-hidden"
      >
        <!-- Barra de progreso -->
        <!-- Fondo de la barra de progreso -->
        <div
          class="absolute h-full bg-[#1860c3] rounded-full transition-all duration-300"
          [style.width.%]="curso?.progreso"
        ></div>
        <!-- Indicador de progreso circular -->
        <div
          class="absolute top-1/2 transform -translate-y-1/2 left-0 h-3 w-3 bg-white border-2 border-[#1860c3] rounded-full shadow z-10"
          [style.left.%]="curso?.progreso"
        >
          <!-- Esto asegura que el indicador se mueva correctamente -->
        </div>
      </div>
      <!-- Texto de progreso alineado a la derecha -->
      <div class="flex flex-row justify-between text-xs text-[#0a0a0b] mt-2">
       <p>Progreso</p> 
       <p>{{ curso?.progreso ?? 0 }}%</p>
      </div>
    </div>

    <!-- Contenedor de botones alineados horizontalmente en la parte inferior -->
    <div class="botones-container mt-4 flex justify-between items-center">
      <button
        *ngIf="curso?.progreso === null || curso?.progreso === undefined"
        class="btn-inscribirse"
        (click)="suscribir(curso._id!)"
      >
        Inscribirse
      </button>
      <button
        *ngIf="curso?.progreso !== null && curso?.progreso !== undefined"
        class="btn-continuar"
        [routerLink]="['/continuar', curso._id]"
      >
        Continuar
      </button>
      <button
        *ngIf="
          (curso?.progreso === null || curso?.progreso === undefined) &&
          curso._id
        "
        class="btn-ver-mas"
        [routerLink]="['/curso', curso._id]"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
