<div class="flex md:w-[60%] lg:w-[80%] flex-col lg:flex-row items-center justify-between h-full text-center p-4 rounded-[24px] border-l-4 border-[#11448a] bg-[#e8eff9] shadow-[0px_4px_4px_0px_#00000040] mx-auto" style="max-height: 400px;">
    <img src="assets/images/hombrecitosinCursos.png" alt="Sin Cursos" class="w-[80px] md:w-1/5 h-auto mb-[20px] md:mb-[0px]" />
    <div class="text-left w-3/5 px-4">
      <h2 class="text-[20px] text-[#0d366d] font-bold mb-2">¡Comienza a enseñar!</h2>
      <p class="text-sm text-[#0a0a0b]">
        Comparte tu pasión por la programación y ayuda a otros a aprender.
     
          Haz clic en "Crear" para empezar
    
      </p>
    </div>
    <div class="w-[80%] flex justify-center items-center flex-col">
      <a href="/crear-curso" class="bg-[#11448a] text-white py-2 px-4 rounded-[24px] hover:bg-[#0d366d] transition w-[40%] h-[40px] flex flex-row place-content-center mt-[10px] md:mt-[0px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 256 256" class="mr-[10px]">
          <path fill="white" d="M208 32H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16m-24 104h-48v48a8 8 0 0 1-16 0v-48H72a8 8 0 0 1 0-16h48V72a8 8 0 0 1 16 0v48h48a8 8 0 0 1 0 16"/>
        </svg>
        Crear
      </a>
    </div>
  </div>
  