<div class="flex items-center justify-between h-full text-center p-4 rounded-lg border-l-4 border-[#11448a] bg-[#e8eff9]" style="max-height: 400px;">
    <img src="assets/images/hombrecitosinCursos.png" alt="Sin Cursos" class="w-1/5 h-auto" />
    <div class="text-left w-3/5 px-4">
      <h2 class="text-[20px] text-[#0d366d] font-bold mb-2">¡Comienza a enseñar!</h2>
      <p class="text-sm text-[#0a0a0b]">
        Comparte tu pasión por la programación y ayuda a otros a aprender.
     
          Haz clic aquí para empezar
    
      </p>
    </div>
    <div class="w-1/5 flex justify-center items-center">
      <a href="/crear-curso" class="bg-[#11448a] text-white py-2 px-4 rounded hover:bg-[#0d366d] transition">
        Crear
      </a>
    </div>
  </div>
  