<section class="relative w-full h-screen overflow-x-hidden">



  <div class="mt-10 ms-32 ps-6 text-3xl font-bold">
    <p class="h-0">Para recuperar tu acceso al mundo del código, ingresa el email con el que te</p>
    <br>
    <p class="h-0"> registraste. Verificaremos tu cuenta y te enviaremos las instrucciones para rastrear</p>
    <br>
    <p class="h-0"> tu contraseña.</p>
  </div>


  <section class="mt-16 start-2 flex flex-nowrap">
    <div class="flex">
      <picture class="ms-20">
        <img src="imgRegistro.jpg" alt="hoo" class="">
      </picture>
      <!-- formulario de validar correo -->
      <form [formGroup]="validatoremailForm" (submit)="onSubmit()" class="ms-[-30px] mt-20 w-full text">
        <div class="font-bold">
          <label for="email">Ingresa tu correo eletrónico</label>
        </div>
  
        <div class="mb-5">
          <input type="email" id="email" formControlName="email" placeholder="Juan@example.com" class="w-96 h-10 ps-2 rounded-lg">
        </div>
  
        <!-- boton enviar correo de validacion -->
        <div class="boton-send rounded-lg flex justify-center w-96">
          <button type="submit" class="cursor-pointer text-white boton-send focus:ring-4 font-medium rounded-lg text-sm px-5 pt-3 me-2 mb-2 pb-2 w-full">Enviar</button>
        </div>
      </form>
    </div>
  </section>
  

  <div class="pt-40 flex justify-end items-end text-2xl absolute right-0 bottom-0">
    <img src="vector1.png" alt="" class="w-80">
  </div>





</section>
