<section class="relative w-full h-screen overflow-x-hidden">
  <app-header />


  <div class="mt-10 ms-32 ps-6 text-3xl font-bold">
    <p class="h-0">Crea una nueva contraseña segura. Asegúrate de que sea algo que puedas recordar, </p>
    <br>
    <p class="h-0"> pero lo suficientemente fuerte como para mantener tus proyectos a salvo.</p>
  </div>


  <section class="mt-16 start-2 flex flex-nowrap">
    <div class="flex ">
      <picture class="ms-20 ">
        <img src="ilustracion_nuevaclave.png" alt="hoo" class="">
      </picture>
    <!-- formulario de contraseña nueva -->
      <form action="" class="ms-[-30px] mt-20 w-full text ">

        <div class="font-bold">
          <label for="">Nueva Contraseña</label>
        </div>

        <div class="mb-2">
          <input type="email" placeholder="xxxxxxxx" class="w-96 h-10 ps-2 rounded-lg">
        </div>

        <div class="font-bold">
          <label for="">Repetir contraseña</label>
        </div>

        <div class="mb-5">
          <input type="email" placeholder="xxxxxxxx" class="w-96 h-10 ps-2 rounded-lg">
        </div>

<!-- boton de guardar contraseña -->
        <div class=" boton-send rounded-lg flex justify-center w-96" routerLink="/reset" >
        <button  type="button" class="cursor-pointer  text-white boton-send focus:ring-4 font-medium rounded-lg text-sm px-5 pt-3 me-2 mb-2 pb-2 w-full">Guardar</button>
        </div>

      </form>
    </div>

  </section>

  <div class="pt-40 flex justify-end items-end text-2xl absolute right-0 bottom-0">
    <img src="vector1.png" alt="" class="w-96">
  </div>





</section>
