<div class="dialog-container warning">
  <div class="dialog-header">
    <div class="icon-container warning">
      <div class="icon warning">
        &#9888; <!-- Icono de advertencia -->
      </div>
    </div>
    <h2 mat-dialog-title>{{ data.title }}</h2>
  </div>
  <mat-dialog-content>
    {{ data.message }}
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onCancelarClick()">Cancelar</button>
    <button mat-button mat-dialog-close cdkFocusInitial color="primary" (click)="onAceptarClick()">Aceptar</button>
  </mat-dialog-actions>
</div>
